*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: tahoma;
}

.cards{
    margin: 1vw auto;
    display: flex;
    width: 90vw;
    background-color: white;
    flex-wrap: wrap;
    gap: 1.5vw;
    align-items: center;
    justify-content: center;

}

.card{
    padding: 1vw;
    width: 18vw;
    height: 18vw;
    background-color: cyan;
    border: 1px black solid;
    border-radius: 1vw;
}

.card h1{
    margin-top: 1vw;

}

.card p{
    margin-top: 1vw;
    font-size: 1vw;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}