* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.boxes{
    display: grid;
    width: 80vw;
    margin:  5vw auto;
    background-color: yellow;

    gap: 1vw;
    padding: 1vw;
}

.box{
    background-color: blue;
    height: 200px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1920px){
    .boxes {grid-template-columns: 1fr 1fr 1fr 1fr;}
}
@media (max-width: 1080px){
    .boxes {grid-template-columns: 1fr 1fr;}
}
@media (max-width: 600px){
    .boxes {grid-template-columns: 1fr;}
}